@charset "UTF=8";

* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

body {
    background-color: lightblue;
}

#form1 {
    width: 100%;
    height: 100%;
}

.field {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.wrap2 {
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin: 70px auto;
}


